<tr class='menu-item-row'>
  <td class='menu-item-name'>
    <%= item['menu_item_details']['name'] %>
  </td>
  <td>
    <%= number_with_delimiter(item['menu_item_details']['unit_price'].to_i) %>
  </td>
  <td>
    <%= item['quantity'].to_i %>
    <%= link_to 'Huỷ', sale_menu_item_path(item['id']), data: {:confirm => 'Are you sure?'}, :method => :delete, remote: true, "sale-menu-item-id" => item['id'] %>
  </td>
</tr>
