<div class="row customer-order">
  <div class="tabbable-panel" id="customer-tabs">
    <div class="tabbable-line">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active" style="width: 50%; margin-right: 0px">
          <a href="#orders-tab" aria-controls="orders-tab" role="tab" data-toggle="tab">
            <b>GỌI MÓN</b>
          </a>
        </li>
        <li role="presentation" style="width: 50%; margin-right: 0px">
          <a href="#histories-tab" aria-controls="histories-tab" role="tab" data-toggle="tab">
            <b>LỊCH SỬ</b>
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content" style="border-top: none">
        <div role="tabpanel" class="tab-pane fade in active" id="orders-tab">
          <div class="customer-table">
            <table data-height="318" data-width="299">
              <thead>
                <tr>
                  <th data-field="id" data-align="left">CÁC MÓN ĂN ĐÃ CHỌN&nbsp; &nbsp;</th>
                  <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp;</th>
                  <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr id="no-choice">
                  <td colspan="3">Chưa chọn món</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="padding: 15px; padding-top: 5px; padding-bottom: 0px">
            <div class="row">
              <div class="col-lg-12">
                <div class='pull-right' style="margin-right: 3px">
                  <h3>Tổng: <span class='total-price'>0</span> đ</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h4 style='font-size: 17px;'>Ghi chú:</h4>
                <textarea class='form-control' style="height: 80px; resize: none;"></textarea>
              </div>
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="col-lg-6">
                <button id="order-now" class='btn btn-block btn-primary btn-sm'>
                  <i class='fa fa-fax' style="margin-right: 7px; font-size: 18px"></i> THANH TOÁN
                </button>
              </div>
              <div class="col-lg-6">
                <button id="reset-order" class='btn btn-block btn-danger btn-sm'>
                  <i class='fa fa-ban' style="margin-right: 7px; font-size: 18px"></i> CHỌN LẠI
                </button>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="histories-tab">
          <div class="customer-table">
            <table data-height="350" data-width="299">
              <thead>
                <tr>
                  <th data-field="id" data-align="left">CÁC MÓN ĂN ĐÃ GỌI&nbsp; &nbsp;</th>
                  <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp;</th>
                  <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr id="no-choice">
                  <td colspan="3">Chưa chọn món</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="padding: 15px; padding-top: 5px; padding-bottom: 0px">
            <div class="row">
              <div class="col-lg-12">
                <h4 style='font-size: 17px;'>Đóng góp ý kiến</h4>
                <textarea class='form-control' style="height: 100px; resize: none;" placeholder="Hãy để lại phản hồi của bạn về các món ăn... Thái độ phục vụ của nhân viên..."></textarea>
              </div>
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="col-lg-12">
                <button id="order-now" class='btn btn-block btn-danger btn-lg'>
                  <i class='fa fa-send' style="margin-right: 10px; font-size: 20px"></i> GỬI PHẢN HỒI
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(".show-orders").click(function(){
  $('a[href="#orders-tab"]').tab('show')
})

$(".show-histories").click(function(){
  $('a[href="#histories-tab"]').tab('show')
})

$('.customer-table table').bootstrapTable();

$('#order-now').click(function(){
  if(confirm("Cảm ơn quý khách đã sử dụng dịch vụ, nhân viên của chúng tôi sẽ kiểm tra và tiến hành thu tiền dịch vụ tại chỗ.\nNhấn 'OK' để thực hiện xác nhận.")){
    var sale_params = {
      comment: "",
      sale_menu_items_attributes: []
    }
    $('[id*=row-service]').each(function(){
      sale_params.sale_menu_items_attributes.push(
      {
        menu_item_id: $(this).attr('menu-item-id'),
        quantity: parseInt($(this).find('.order-service-quantity .quantity-text').text()),
        description: $(this).find('.note-for-service').attr('data-original-title')
      }
      )
    })

    if($('[id*=row-service]').length == 0){
      alert("Xin hãy chọn món trước khi thanh toán")
      return
    }

    $.ajax({
      method: "POST",
      url: "<%= create_sale_customer_pages_path %>",
      dataType: "json",
      data: { sale: sale_params},
      success: function(data){
        console.log(data);
      }
    })
    resetOrder()
  }
});


$("#reset-order").click(function(){
  resetOrder()
})

function resetOrder(){
  $('[id*=row-service]').each(function(){
    $(this).remove()
  })
  $("#no-choice").fadeIn(100)
  $("#orders-tab .customer-table .bootstrap-table").css("box-shadow", "0 9px 9px -6px rgba(0,0,0,0.0)")
  $(".total-price").text(0)
  order_row = 0
}
// $(".fixed-table-body").niceScroll({horizrailenabled: false, cursorcolor:"rgba(0, 0, 0, 0.2)", cursorwidth: "9px"})

$(window).resize(function () {
  $('.customer-table table').bootstrapTable('resetView');
});
</script>
