<tr data-toggle="dropdown" class="order-row order-init-template">
  <td class="order-com">

  </td>
  <td class="order-price">
    <div class="btn-group order-action pull-right" style="margin-top: 12px">
      <button type="button" style="padding-bottom: 2px;" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class='fa fa-caret-down' style='font-size: 18px'></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a data-remote='true' class='btn-go-to-payment'>Đi thu tiền</a>
        </li>
        <li>
          <a href='javascript:;' class='btn-verify-payment'>Đã thu tiền</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class='active'><a href="javascript:;" class="btn-order-details">Xem chi tiết</a></li>
      </ul>
    </div>
    <div class="total-price" style="">
      <span class='price'></span>
      <span style='color: #999'>đ</span>
    </div>
    <small class="pull-left order-created-at" style='margin-top: 3px; margin-left: 1px'>
      
    </small>
  </td>
</tr>