<table class="table table-bordered table-order-histories table-order">
  <thead>
    <tr>
      <th style="width: 25%">
        <i class='fa fa-desktop' style='font-size: 25px; padding-top: 10px; position: relative'></i>
      </th>
      <th style="width: 75%;">
        Số tiền đã thu
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="histories-loading" style="display: none">
      <td colspan="2">
        <center>
          <i class="fa fa-spin fa-spinner" style="margin-right: 5px"></i> Đang tải dữ liệu
        </center>
      </td>
    </tr>
    <tr class="no-histories-orders">
      <td colspan="3">
        <div class="alert alert-warning">Tạm thời không có order mới.</div>
      </td>
    </tr>
  </tbody>
</table>