<table class="table table-bordered table-order-histories table-order">
  <thead>
    <tr>
      <th style="width: 5%">#</th>
      <th style="width: 10%">
        <div style="font-size: 20px; padding-top: 1px"><i class="fa fa-desktop"></i></div>
      </th>
      <th style="width: 50%">Khách gọi</th>
      <th style="width: 40%">Quá trình</th>
    </tr>
  </thead>
  <tbody>
    <tr class="order-row">
      <td class='order-number'>
        1
      </td>
      <td class='order-com'>
        <label class="label label-primary">Máy 1</label>
      </td>
      <td class='order-lists'>
        <div class="customer-table">
          <table data-height="230" data-width="100">
            <thead>
              <tr>
                <th data-field="id" data-align="left">MÓN ĂN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp; &nbsp; &nbsp;</th>
                <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12" style="border-top: 1px solid #ccc">
          <div class='pull-right' style="margin-right: 3px">
            <h3 style="margin-top: 10px">Tổng: <span class='total-price'>0</span> đ</h3>
          </div>
        </div>
      </td>
      <td class="order-step">
        <p>
          <b>Thu tiền:</b> 10h30'
        </p>
        <p>
          <b>Thu xong:</b> 10h35'
        </p>
        <p>
          <b>Mang cho khách:</b> 10h50'
        </p>  
        <p>
          <b>Mang xong:</b> 10h55'
        </p>
      </td>
    </tr>
    <tr class="order-row">
      <td class='order-number'>
        1
      </td>
      <td class='order-com'>
        <label class="label label-primary">Máy 1</label>
      </td>
      <td class='order-lists'>
        <div class="customer-table">
          <table data-height="230" data-width="100">
            <thead>
              <tr>
                <th data-field="id" data-align="left">MÓN ĂN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp; &nbsp; &nbsp;</th>
                <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12" style="border-top: 1px solid #ccc">
          <div class='pull-right' style="margin-right: 3px">
            <h3 style="margin-top: 10px">Tổng: <span class='total-price'>0</span> đ</h3>
          </div>
        </div>
      </td>
      <td class="order-step">
        <p>
          <b>Thu tiền:</b> 10h30'
        </p>
        <p>
          <b>Thu xong:</b> 10h35'
        </p>
        <p>
          <b>Mang cho khách:</b> 10h50'
        </p>  
        <p>
          <b>Mang xong:</b> 10h55'
        </p>
      </td>
    </tr>
    <tr class="order-row">
      <td class='order-number'>
        1
      </td>
      <td class='order-com'>
        <label class="label label-primary">Máy 1</label>
      </td>
      <td class='order-lists'>
        <div class="customer-table">
          <table data-height="230" data-width="100">
            <thead>
              <tr>
                <th data-field="id" data-align="left">MÓN ĂN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp; &nbsp; &nbsp;</th>
                <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12" style="border-top: 1px solid #ccc">
          <div class='pull-right' style="margin-right: 3px">
            <h3 style="margin-top: 10px">Tổng: <span class='total-price'>0</span> đ</h3>
          </div>
        </div>
      </td>
      <td class="order-step">
        <p>
          <b>Thu tiền:</b> 10h30'
        </p>
        <p>
          <b>Thu xong:</b> 10h35'
        </p>
        <p>
          <b>Mang cho khách:</b> 10h50'
        </p>  
        <p>
          <b>Mang xong:</b> 10h55'
        </p>
      </td>
    </tr>
    <tr class="order-row">
      <td class='order-number'>
        1
      </td>
      <td class='order-com'>
        <label class="label label-primary">Máy 1</label>
      </td>
      <td class='order-lists'>
        <div class="customer-table">
          <table data-height="230" data-width="100">
            <thead>
              <tr>
                <th data-field="id" data-align="left">MÓN ĂN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp; &nbsp; &nbsp;</th>
                <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12" style="border-top: 1px solid #ccc">
          <div class='pull-right' style="margin-right: 3px">
            <h3 style="margin-top: 10px">Tổng: <span class='total-price'>0</span> đ</h3>
          </div>
        </div>
      </td>
      <td class="order-step">
        <p>
          <b>Thu tiền:</b> 10h30'
        </p>
        <p>
          <b>Thu xong:</b> 10h35'
        </p>
        <p>
          <b>Mang cho khách:</b> 10h50'
        </p>  
        <p>
          <b>Mang xong:</b> 10h55'
        </p>
      </td>
    </tr>
    <tr class="order-row">
      <td class='order-number'>
        1
      </td>
      <td class='order-com'>
        <label class="label label-primary">Máy 1</label>
      </td>
      <td class='order-lists'>
        <div class="customer-table">
          <table data-height="230" data-width="100">
            <thead>
              <tr>
                <th data-field="id" data-align="left">MÓN ĂN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp; &nbsp; &nbsp;</th>
                <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12" style="border-top: 1px solid #ccc">
          <div class='pull-right' style="margin-right: 3px">
            <h3 style="margin-top: 10px">Tổng: <span class='total-price'>0</span> đ</h3>
          </div>
        </div>
      </td>
      <td class="order-step">
        <p>
          <b>Thu tiền:</b> 10h30'
        </p>
        <p>
          <b>Thu xong:</b> 10h35'
        </p>
        <p>
          <b>Mang cho khách:</b> 10h50'
        </p>  
        <p>
          <b>Mang xong:</b> 10h55'
        </p>
      </td>
    </tr>
    
  </tbody>
</table>

<script type="text/javascript">
$('.table-order-histories .customer-table table').bootstrapTable();
</script>