<br /><br />
<button class="btn btn-default btn-large" onclick="$(this).parent().parent().find('[id*=item-action-dropdown] .dropdown-menu li.active .btn-go-deliver').click()">Giao tất</button>
<button class="btn btn-primary btn-large" onclick="$(this).parent().parent().find('[id*=item-action-dropdown] .dropdown-menu li.active .btn-done-deliver').click()">Đã Giao tất</button>
