<table class="table table-bordered table-order-ready table-order">
  <thead>
    <tr>
      <th style="width: 5%">#</th>
      <th style="width: 10%">
        <div style="font-size: 20px; padding-top: 1px"><i class="fa fa-desktop"></i></div>
      </th>
      <th style="width: 55%">Khách gọi</th>
      <th style="width: 35%">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <tr class="order-row">
      <td class='order-number'>
        1
      </td>
      <td class='order-com'>
        <label class="label label-primary">Máy 1</label>
      </td>
      <td class='order-lists'>
        <div class="customer-table">
          <table data-height="230" data-width="100">
            <thead>
              <tr>
                <th data-field="id" data-align="left">MÓN ĂN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp; &nbsp; &nbsp;</th>
                <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
            </tbody>
          </table>
        </div>
          <div class="col-lg-12" style="border-top: 1px solid #ccc">
            <div class='pull-right' style="margin-right: 3px">
              <h3 style="margin-top: 10px">Tổng: <span class='total-price'>0</span> đ</h3>
            </div>
        </div>
      </td>
      <td class="order-status">
        <button class="btn-delivery btn btn-primary btn-block">Bắt đầu giao</button>
        <center>
          <i class='fa fa-caret-down' style="font-size: 30px"></i>
        </center>
        <button class="btn-delivered btn btn-primary disabled btn-block">Giao xong</button>
      </td>
    </tr>
    <tr class="order-row">
      <td class='order-number'>
        1
      </td>
      <td class='order-com'>
        <label class="label label-primary">Máy 1</label>
      </td>
      <td class='order-lists'>
        <div class="customer-table">
          <table data-height="230" data-width="100">
            <thead>
              <tr>
                <th data-field="id" data-align="left">MÓN ĂN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp; &nbsp; &nbsp;</th>
                <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
            </tbody>
          </table>
        </div>
          <div class="col-lg-12" style="border-top: 1px solid #ccc">
            <div class='pull-right' style="margin-right: 3px">
              <h3 style="margin-top: 10px">Tổng: <span class='total-price'>0</span> đ</h3>
            </div>
        </div>
      </td>
      <td class="order-status">
        <button class="btn-delivery btn btn-primary btn-block">Bắt đầu giao</button>
        <center>
          <i class='fa fa-caret-down' style="font-size: 30px"></i>
        </center>
        <button class="btn-delivered btn btn-primary disabled btn-block">Giao xong</button>
      </td>
    </tr>
    <tr class="order-row">
      <td class='order-number'>
        1
      </td>
      <td class='order-com'>
        <label class="label label-primary">Máy 1</label>
      </td>
      <td class='order-lists'>
        <div class="customer-table">
          <table data-height="230" data-width="100">
            <thead>
              <tr>
                <th data-field="id" data-align="left">MÓN ĂN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp; &nbsp; &nbsp;</th>
                <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
            </tbody>
          </table>
        </div>
          <div class="col-lg-12" style="border-top: 1px solid #ccc">
            <div class='pull-right' style="margin-right: 3px">
              <h3 style="margin-top: 10px">Tổng: <span class='total-price'>0</span> đ</h3>
            </div>
        </div>
      </td>
      <td class="order-status">
        <button class="btn-delivery btn btn-primary btn-block">Bắt đầu giao</button>
        <center>
          <i class='fa fa-caret-down' style="font-size: 30px"></i>
        </center>
        <button class="btn-delivered btn btn-primary disabled btn-block">Giao xong</button>
      </td>
    </tr>
    <tr class="order-row">
      <td class='order-number'>
        1
      </td>
      <td class='order-com'>
        <label class="label label-primary">Máy 1</label>
      </td>
      <td class='order-lists'>
        <div class="customer-table">
          <table data-height="230" data-width="100">
            <thead>
              <tr>
                <th data-field="id" data-align="left">MÓN ĂN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp; &nbsp; &nbsp;</th>
                <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
            </tbody>
          </table>
        </div>
          <div class="col-lg-12" style="border-top: 1px solid #ccc">
            <div class='pull-right' style="margin-right: 3px">
              <h3 style="margin-top: 10px">Tổng: <span class='total-price'>0</span> đ</h3>
            </div>
        </div>
      </td>
      <td class="order-status">
        <button class="btn-delivery btn btn-primary btn-block">Bắt đầu giao</button>
        <center>
          <i class='fa fa-caret-down' style="font-size: 30px"></i>
        </center>
        <button class="btn-delivered btn btn-primary disabled btn-block">Giao xong</button>
      </td>
    </tr>
    <tr class="order-row">
      <td class='order-number'>
        1
      </td>
      <td class='order-com'>
        <label class="label label-primary">Máy 1</label>
      </td>
      <td class='order-lists'>
        <div class="customer-table">
          <table data-height="230" data-width="100">
            <thead>
              <tr>
                <th data-field="id" data-align="left">MÓN ĂN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th data-field="price" data-align="left">ĐƠN GIÁ&nbsp; &nbsp; &nbsp;</th>
                <th data-field="name" data-align="left">SL &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
              <tr id="row-service-food-4" menu-item-id="4" class="row-service"><td class="order-service-name"><b>Banh my pate</b><br><p class="note-for-service" data-placement="left" style="font-size: 10px; margin-bottom: 3px; width: 90%" data-original-title="1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cáu không">1 cái có ớt, 2 cái không ớt, cái có ớt không ăn rau, 2 cái không ớt 1 cái có rau 1 cái không rau.</p></td><td class="order-service-price" data-price="10000">10,000</td><td class="order-service-quantity"><span class="quantity-text">1</span></td></tr>
            </tbody>
          </table>
        </div>
          <div class="col-lg-12" style="border-top: 1px solid #ccc">
            <div class='pull-right' style="margin-right: 3px">
              <h3 style="margin-top: 10px">Tổng: <span class='total-price'>0</span> đ</h3>
            </div>
        </div>
      </td>
      <td class="order-status">
        <button class="btn-delivery btn btn-primary btn-block">Bắt đầu giao</button>
        <center>
          <i class='fa fa-caret-down' style="font-size: 30px"></i>
        </center>
        <button class="btn-delivered btn btn-primary disabled btn-block">Giao xong</button>
      </td>
    </tr>
    <tr class="no-ready-orders no-orders">
      <td colspan="4">
        <div class="alert alert-warning">Tạm thời không có order mới.</div>
      </td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
$('.table-order-ready .customer-table table').bootstrapTable();

$(".table-order-ready").on('click', '.btn-delivery', function(){
  $(this).addClass("disabled")
  $(this).siblings(".btn-delivered").removeClass("disabled")
})

$(".table-order-ready").on('click', '.btn-delivered', function(){
  $(this).parents(".order-row").remove()
  if($('.table-order-ready .order-row').length == 0)
  {
    $(".no-ready-orders").fadeIn(100)
  }
})

staff_channel.bind("next_state_sale",function(data) {
  if(data['sale']['state'] == "done") {
    $(function(){
      var notice = pop_notify({
          title: "test",
          text: "Order " + data['sale']['id'] + " từ máy " + data['sale']['customer_id'] + "làm xong",
          stack: stack_context,
      });
      notice.get().click(function(e) {
        notice.remove();
        //move to element
      });
      var desktop_notice = pop_desktop_notify({
          title: "test",
          text: "Order " + data['sale']['id'] + " từ máy " + data['sale']['customer_id'] + "làm xong",
          type: "success",
          stack: stack_context,
      })
    });
  }
  else if(data['sale']['state'] == "delivering") {
    $(function(){
      //Delete from others's wait_to_deliver table
      if (true) // test if this is current_user
        $("#sale-" + data['sale']['id']).remove();
      else
        // Đổi status nút
        console.log("đổi nút");
    });
  }
  else if(data['sale']['state'] == "delivered") {
    $(function(){
      //Delete from others's wait_to_deliver table
      if (false) // test if this is current_user
        $("#sale-" + data['sale']['id']).remove();
      else
        // Đổi status nút
        console.log("đổi nút");
    });
  }
});
</script>