<tr data-toggle="dropdown" class='menu-item-row menu-item-template'>
  <td class='menu-item-name'>
    <div class="btn-group item-action pull-right" style="margin-top: 12px">
      <button type="button" style="padding-bottom: 2px;" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class='fa fa-caret-down' style='font-size: 18px'></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class='btn-go-deliver' href='javascript:;'>Đi giao</a>
        </li>
        <li>
          <a class='btn-done-deliver' href='javascript:;'>Đã giao</a>
        </li>
      </ul>
    </div>
    <div class='item-name'>
      
    </div>
    <small class='pull-left item-action-at' style='font-weight: normal; margin-top: 3px'>
    </small>
  </td>
</tr>