<script type="text/javascript">
var staff_channel = dispatcher.subscribe('staff');
var stack_context = {"dir1": "down", "dir2": "left", "push": "bottom", "spacing1": 5, "spacing2": 5,"context": $("#notify-list")}
</script>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
     <div class="waiter-pages">
      <div class="row tabs-row">
        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4 no-padding">
          <div class="tab-list active" aria-control="tab-order-pending">
            ORDER CẦN THU <label class="badge badge-danger" id=" notify-order-pending">3</label>
          </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4 no-padding">
          <div class="tab-list" aria-control="tab-order-ready">
            ORDER CẦN GIAO <label class="badge badge-danger" id="notify-order-ready">1</label>
          </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4 no-padding">
          <div class="tab-list" aria-control="tab-histories">
            LỊCH SỬ
          </div>
        </div>
      </div>
      <div class="row tabs-content">
        <div class="col-sm-12">
          <div class="marquee-notifications">
            <div class="marquee-notifications-text">
              <span class="notification-text">Máy 3 vừa có order, kiểm tra và thu tiền</span>
              <span class="notification-text">Máy 1 vừa có order, kiểm tra và thu tiền</span>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="tab-content" id="tab-order-pending">
            <%= render 'order_pending' %>
          </div>
          <div class="tab-content" id="tab-order-ready">
            <%= render 'order_ready' %>
          </div>
          <div class="tab-content" id="tab-histories">
            <%= render 'order_histories' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>

var marquee = $('div.marquee-notifications');
marquee.each(function() {
  var mar = $(this),indent = mar.width();
  mar.marquee = function() {
    indent--;
    mar.css('text-indent',indent);
    if (indent < -1 * mar.children('div.marquee-notifications-text').width()) {
      indent = mar.width();
    }
  };
  mar.data('interval',setInterval(mar.marquee, 8));
});

$(".tab-list").click(function(){
  $(".tab-list").removeClass("active")
  $(this).addClass("active")
  tab_id = $(this).attr("aria-control")
  $(".tab-content").fadeOut(0)
  $("#"+tab_id).fadeIn(300)
})

</script>
