<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div style="min-height: 1000px; background: red;"></div>
    </div>
  </div>
</div>
<script>
var staff_channel = dispatcher.subscribe('staff');
var stack_context = {"dir1": "down", "dir2": "left", "push": "bottom", "spacing1": 5, "spacing2": 5,"context": $("#notify-list")}

staff_channel.bind("create_sale",function(data) {
  $(function(){
    var notice = pop_notify({
        title: "test",
        text: "Order mới từ máy " + data['sale']['customer_id'],
        type: "success",
        stack: stack_context,
    });
    push_data_to_table("#waiter_sale_list",data);
    notice.get().click(function(e) {
        if ($('.ui-pnotify-closer, .ui-pnotify-sticker, .ui-pnotify-closer *, .ui-pnotify-sticker *').is(e.target))
          return;
        $.scrollToElement({to: "#sale-" + data['sale']['id']});
        notice.remove();
      //move to element
    });
    var desktop_notice = pop_desktop_notify({
        title: "test",
        text: "Order mới từ máy " + data['sale']['customer_id'],
    })
  });
});

staff_channel.bind("next_state_sale",function(data) {
  if(data['sale']['state'] == "done") {
    $(function(){
      var notice = pop_notify({
          title: "test",
          text: "Order " + data['sale']['id'] + " từ máy " + data['sale']['customer_id'] + "làm xong",
          stack: stack_context,
      });
      notice.get().click(function(e) {
        notice.remove();
        //move to element
      });
      var desktop_notice = pop_desktop_notify({
          title: "test",
          text: "Order " + data['sale']['id'] + " từ máy " + data['sale']['customer_id'] + "làm xong",
      })
    });
  }
  else if(data['sale']['state'] == "delivering") {
    $(function(){
      //Delete from others's wait_to_deliver table
      if (true) // test if this is current_user
        $("#sale-" + data['sale']['id']).remove();
      else
        // Đổi status nút
        console.log("đổi nút");
    });
  }
  else if(data['sale']['state'] == "delivered") {
    $(function(){
      //Delete from others's wait_to_deliver table
      if (false) // test if this is current_user
        $("#sale-" + data['sale']['id']).remove();
      else
        // Đổi status nút
        console.log("đổi nút");
    });
  }
});

function push_data_to_table(tableId,data) {
  $table = $(tableId);
  html = "<tr id='sale-" + data['sale']['id'] +  "'>";
  html += "<td>" + data['sale']['id']  + "</td>";
  html += "<td>" + data['sale']['customer_id'] + "</td> ";
  html += "<td>" + "latter" + "</td> ";
  html += "<td>" + data['sale']['state']+ "</td> ";
  html += "</tr>";

  $table.find("tbody.table_body").append(html);
}

</script>
