<script type="text/javascript">
var staff_channel = dispatcher.subscribe('staff');
var stack_context = {"dir1": "down", "dir2": "left", "push": "bottom", "spacing1": 5, "spacing2": 5}
</script>
<div class="chef-pages">
  <br>
  <div class="no-orders" style='padding-left: 15px; padding-right: 15px'>
    <div class="alert alert-warning">
      Tạm thời không có ORDER mới
    </div>
    <br>
  </div>
  <div style='padding-left: 15px;'>
    <section id="pinBoot">
      <%= render 'order_processing' %>
      <%= render 'order_template' %>
    </section>
  </div>
  <br>
  <center>
    <a data-method="DELETE" href="/sessions">Đăng xuất</a>
  </center>
  <br>
</div>
<script>
$(document).ready(function () {
  check_has_order()
  $('#pinBoot').pinterest_grid({
    no_columns: 3,
    padding_x: 15,
    padding_y: 20,
    margin_bottom: 100,
    single_column_breakpoint: 700
  });
});



$("#pinBoot").on('click', '.order-processing .service-cooking', function(){
  var checked = $(this).children(".row").children(".col-lg-10").children(".check-service-done").prop("checked")

  sale_id = $(this).parents(".order-processing").attr("sale-id")

  id = $(this).attr('service-id')

  $.ajax({
    type: "GET",
    url: "/chief_pages/done_cooking?sale_menu_id=" + id
  });

  $(".service-cooking[service-id="+id+"]").remove()

  done = $(".order-processing[sale-id="+sale_id+"] .service-cooking").length == 0

  if(done){
    $(".order-processing[sale-id="+sale_id+"]").remove()
    check_has_order()
    $(function(){
      var notice = pop_notify({
        text: "Order " + sale_id + " đã làm xong",
      });
    });
  }
})

$("#pinBoot").on('click', '.btn-done-cooking', function(){
  $(this).parents(".order-processing").children(".service-lists").children(".col-lg-12").children(".services").children(".service").each(function(){
    id = $(this).attr('service-id')
    $.ajax({
      type: "GET",
      url: "/chief_pages/done_cooking?sale_menu_id=" + id
    });
  })

  $(this).parents(".order-processing").remove()
  check_has_order()
})

$("#pinBoot").on('click', '.btn-start-cooking', function(){
  sale_id = $(this).attr('sale-id')
  $(".order-processing[sale-id="+sale_id+"]").children(".service-lists").children(".col-lg-12").children(".services").children(".service.service-processing").each(function(){
    id = $(this).attr('service-id')
    $.ajax({
      type: "GET",
      url: "/chief_pages/start_cooking?sale_menu_id=" + id
    });

    $(".service-processing[service-id="+id+"] .list-style").remove()
    $(".service-processing[service-id="+id+"] .service-name").before("<input type='checkbox' class='check-service-done'>")
    $(".service-processing[service-id="+id+"]").removeClass("order-processing").addClass("service-cooking")
  })

  $(".order-processing[sale-id="+sale_id+"] .btn-start-cooking").addClass("disabled")      
})

staff_channel.bind("next_state_sale",function(data) {
  if(data['sale']['state'] == 'processing') {
    if(data['sale']['is_food_sale']){
      $(function(){
        var notice = pop_notify({
          text: "Order mới từ " + data['sale']['customer']['email'],
        });

        append_processing_order(data)
        check_has_order()
      });
    }
  }
});

staff_channel.bind("next_state_sale_menu_item", function(data) {
  sale_id = data['sale_menu_item']['sale_id']
  if(data['sale_menu_item']['state'] == 'processing') {
    if(data['sale_menu_item']['sale']['is_food_sale']){
      $(function(){
        var notice = pop_notify({
          text: "Yêu cầu làm lại từ " + data['sale_menu_item']['customer']['email'] + " với lý do: <b>" + data['sale_menu_item']['reason'] + "</b>",
        });

        params = {}
        params['sale'] = data['sale_menu_item']['sale']
        params['sale']['customer'] = data['sale_menu_item']['customer']
        params['sale']['food_sale_menu_items_details'] = [data['sale_menu_item']]
        params['is_redo'] = true
        if($(".order-processing[sale-id="+sale_id+"]").length == 0){
          append_processing_order(params)
          check_has_order()
        }
        else{
          append_service_list(params)
          $(".order-processing[sale-id="+sale_id+"] .btn-start-cooking").removeClass("disabled")
        }
      });
    }
  }
});

function append_processing_order(params){
  sale_id = params['sale']['id']
  template = $(".order-template").html()
  article = '<article class="order order-processing" sale-id="'+sale_id+'"></article>'
  if(params['is_redo']){
    $("#pinBoot").prepend(article)
  }
  else{
    $(".order-template").before(article)
  }
  $(".order-processing[sale-id="+sale_id+"]").html(template)
  $(".order-processing[sale-id="+sale_id+"] .sale-name").html("<i class='fa fa-desktop'></i>Máy "+params['sale']['customer']['email'])
  $(".order-processing[sale-id="+sale_id+"] .sale-code.sale-created-at").html("MÃ HĐ: "+params['sale']['invoice_number']+"<br>NGÀY: "+params['sale']['format_created_at'])

  $(".order-processing[sale-id="+sale_id+"] .btn-start-cooking").attr("sale-id", sale_id)
  append_service_list(params)
}

function append_service_list(params){
  sale_id = params['sale']['id']
  console.log(params['sale']['food_sale_menu_items_details'])
  params['sale']['food_sale_menu_items_details'].forEach(function(data){
    menu_item = data['menu_item_details']

    template = $(".order-template .service-template").html()

    service  = "<li class='service service-processing' service-id='"+data['id']+"'></li>"

    $(".order-processing[sale-id="+sale_id+"] .services").append(service)

    $(".order-processing[sale-id="+sale_id+"] .services .service[service-id="+data['id']+"]").html(template)

    $(".order-processing[sale-id="+sale_id+"] .service[service-id="+data['id']+"] .service-name").text(menu_item['name'])
    $(".order-processing[sale-id="+sale_id+"] .service[service-id="+data['id']+"] .service-quantity").text(parseInt(data['quantity']))
    if(data['description'] === null)
      data['description'] = ""
    $(".order-processing[sale-id="+sale_id+"] .service[service-id="+data['id']+"] .service-description").text(data['description'])
  })
  $(".order-processing[sale-id="+sale_id+"] .services .service-template").remove()
}

function check_has_order(){
  order_processing = $(".order.order-processing").length
  order_cooking    = $(".order.order-processing").length
  if(order_cooking + order_processing == 0){
    $(".no-orders").fadeIn(100)
  }
  else{
    $(".no-orders").fadeOut(100) 
  }
}
</script>
