// Place all the styles related to the waiter_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@-webkit-keyframes glowing {
  30% { color: white; }
  60% { color: yellow; }
  100% { color: orange; }
}
@-moz-keyframes glowing {
  30% { color: white; }
  60% { color: yellow; }
  100% { color: orange; }
}
@-o-keyframes glowing {
  30% { color: white; }
  60% { color: yellow; }
  100% { color: orange; }
}
@keyframes glowing {
  30% { color: white; }
  60% { color: yellow; }
  100% { color: orange; }
}

.waiter-salelist{
  background-color: rgb(233, 233, 233);
}

.waiter-salelist .container{
}

.waiter-salelist .waiter-pages{
  
}

.waiter-salelist .tab-list{
  height: 70px;
  line-height: 70px;
  border-right: 2px solid #fff;
  font-size: 15px;
  color: #aaa;
  border-bottom: 2px solid #fff;
  background-color: #e3e3e3;
  cursor: pointer;
  text-align: center;
}

.waiter-salelist .tab-list.active{
  background: #428bca;
  color: #fff;
}

.waiter-salelist .tabs-row .no-padding:first-child{
}

.waiter-salelist .tabs-row,
.waiter-salelist .tabs-content{
  width: 100%;
  position: absolute;
}

.waiter-salelist .tabs-content{
  min-height: 1000px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(169,169,169,0.75);
  margin-bottom: 100px;
  top: 70px;
}

.waiter-salelist .tabs-row .no-padding:last-child{
}

.waiter-salelist .tabs-row .no-padding:last-child .tab-list:last-child{
  border-right: none;
}

.waiter-salelist .tab-list .badge-danger{
  background-color: #FFA3A3 !important;
  font-size: 13px;
  margin-left: 3px;
  cursor: pointer;
}

.waiter-salelist .tab-list.active .badge-danger{
  background-color: red !important;
}

.waiter-salelist .notify-order{
  /*display: none*/
}

.waiter-salelist .tab-list .badge{
  padding: 3px 6px;
  padding-top: 3px;
  padding-right: 7px;
  border-radius: 19px;
}

.waiter-pages .tabs-content .tab-content{
  border-bottom: 1px solid #ddd;
  display: none;
}

.waiter-pages .tabs-content .tab-content:first-child{
  display: block;
}

.waiter-pages .tabs-content .tab-content .table-order{
  border: none;
}

.waiter-pages .tabs-content .tab-content .table-order > thead th:first-child,
.waiter-pages .tabs-content .tab-content .table-order .order-row .order-com,
.waiter-pages .tabs-content .tab-content .table-order .no-orders td{
  border-left: none;
}

.waiter-pages .tabs-content .tab-content .table-order > thead th:last-child{
  border-right: none;
}

.waiter-pages .tabs-content .tab-content .table-order > thead th{
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  border-bottom-width: 1px;
}

.waiter-pages .tabs-content .tab-content .table-order > tbody td{
  text-align: center;
}

.waiter-pages .tabs-content .tab-content .table-order .order-row td{
  vertical-align: middle !important;
}

.waiter-pages .tabs-content .tab-content .table-order .order-row,
{
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-order th{
  font-size: 20px;
}

.table-order thead tr{
  background-color: #428bca;
  color: #fff;
}

.waiter-pages .tabs-content .tab-content .table-order .order-row .order-action .dropdown-menu li,
.waiter-pages .tabs-content .tab-content .table-order .menu-item-row .item-action .dropdown-menu li{
  font-size: 16px;
}

.waiter-pages .tabs-content .tab-content .table-order .order-row .order-action .dropdown-menu li.active a,
.waiter-pages .tabs-content .tab-content .table-order .menu-item-row .item-action .dropdown-menu li.active a{
  background-color: #fff;
  color: #333;
}

.waiter-pages .tabs-content .tab-content .table-order .order-row .order-action .dropdown-menu li a:hover,
.waiter-pages .tabs-content .tab-content .table-order .menu-item-row .item-action .dropdown-menu li a:hover{
  background-color: #f5f5f5;
}

.waiter-pages .tabs-content .tab-content .table-order .order-row .order-action .dropdown-menu li > a,
.waiter-pages .tabs-content .tab-content .table-order .menu-item-row .item-action .dropdown-menu li > a{
  height: 40px;
  line-height: 40px;
  color: #ccc;
  padding: 0px 20px;
}

.waiter-pages .tabs-content .tab-content .table-order .order-row .order-price .total-price,
.waiter-pages .tabs-content .tab-content .table-order .menu-item-row .menu-item-name .item-name{
  font-size: 18px;
  text-align: left;
  line-height: 34px;
  font-weight: bold;
}

.waiter-pages .tabs-content .tab-content .table-order .order-row.select-now{
  background-color: #f5f5f5
}

.waiter-pages .tabs-content .tab-content .table-order .order-row.success.select-now td{
  background-color: #D7EACF
}

.waiter-pages .tabs-content .tab-content .table-order .order-row .menu-item-name .item-quantity{
  color: #777;
  font-weight: normal
}

.waiter-pages .no-orders{
  display: none;
}




