<footer>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 page-contact">
    Liên hệ: vikings.gc@gmail.com | Hotline: 0123.456.789
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 page-contact">
    <div class='pull-right'>
      Vikings Gaming Center
    </div>
  </div>
</div>
</footer>
